*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #040b24;
}

a {
    text-decoration: none;
    color: white
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

/* navigation */

nav {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.25turn, #040b24, #000000);
    color: white;
    font-size: 1.25rem;
}

navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

navbar ul li {
    padding-right: 25px;
}

navbar ul :last-child {
    padding-right: 0px;
}

navbar a:hover{
    color: rgb(233, 96, 238);
}

/* hero */

.hero {
    background-color: #222222;
    color: white;
    height: 600px;
    background-image: url("../img/lightbulb.jpg");
    background-size: cover;
    background-position: 73% 100% ;
}

.hero div {
    padding: 15% 10%;
}

.hero p{
    font-size: 20px;
    margin: 20px 0;
}

.hero button{
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #2662bd;
    transition: all 0.2s;
}

.hero button:hover{
    color: #2662bd;
    background-color: white;
    transform: scale(1.2);

}

/* my skills */

.skillset {
    padding: 20px;
    width: 100%;
    background: white;
}

.icons {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    
}

.icons img {
    width: auto;
    height: 100px;
    padding: 10px;
    filter: grayscale(1);
}

.icons img:hover{
    filter: none;
}

.aboutMe {
    padding: 20px;
    background-color: #222222;
    color: white;
}

.hrow{
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(0.25turn, #003caa, #00aa33); 
}

    
.aboutMe{
    background: linear-gradient(0.25turn, #040b24, #000000);
}

.aboutMe p{
    margin-top: 20px;
    
}

#map { height: 600px; }

.custom-popup .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:24px;
    line-height:24px;
    }



/* #sidebar {
    position: relative;
    top: 20px;
    left: 20px;
    height:50px;
    width: 50px;
    background-color: #00aa33;
    box-sizing: border-box;
    border-radius: 25px;
    border-style: none;
    z-index: 2000;
} */

.container{
    top: 15px;
    left: 20px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    transition: 0.4s ease;
    z-index: 1000;

}

.toggleBox{
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.icon{
    position: absolute;
    height: 4px;
    width: 35px;
    background-color: #242F36;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
.toggleBox.active .icon{
    width: 0px;
}

.icon::before,.icon::after{
    position: absolute;
    content:'';
    height: 4px;
    width: 35px;
    background-color: #242F36;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    transition: 0.3s;
}

.icon::before{
    top: 12px;
}

.icon::after{
    bottom: 8px;
}

.toggleBox.active .icon::before{
    width: 40px;
    transform-origin: right;
    transform: translate(-25px, 4px) rotate(45deg);
}

.toggleBox.active .icon::after{
    width: 40px;
    transform-origin: right;
    transform: translate(-25px, -6px) rotate(-45deg);
}

.maptools {
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}

.maptools:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.maptools li:hover .material-icons{
    transition: 0.08s ease-in-out;
    color: #26bd3f;
}


.container.active {
    height: 420px;
}

.container.active .maptools{
    visibility: visible;
}
li {
    list-style-type: none;
}

.material-icons{
    color: #242F36;
    font-size: 36px;
}

li a span {
    position: relative;
    display: block;
    padding: 17px 0;
    width: 100%;
    text-align: center;
    transform: scale(0);
}

.container.active .maptools li a span{
    transform: scale(1);
    transition: 0.4s ease;
    transition-delay: calc(0.06s * var(--v));
}

.toggleBox.active:hover .icon::before{
    background-color: red;
}

.toggleBox.active:hover .icon::after{
    background-color: red;
}

